<tags>

  <div th:if="${ not #lists.isEmpty(intents)}">
    <table class="table">
      <thead>
      <tr>
        <th>Tags</th>
        <th>Patterns</th>
        <th>Responses</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="intent : ${intents}">
        <td th:text="${intent.tag}"></td>
        <td th:if="${intent.id}">
          <a class="btn btn-warning" th:href="@{/patterns/list/{id}(id=${intent.id})}">List Patterns</a>
        </td>
        <td>
          <button type="button" class="btn btn-warning"><a href="/tbd" style="text-decoration: none; color: inherit;">List Responses</a></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:if="${ #lists.isEmpty(intents)}">
    No Tags found!
  </div>
</tags>